<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Incidents dashboard</h2>
		<div class="table-responsive" name="tableIncidents">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>State</th>
						<th>Location</th>
						<th>Tags</th>
						<th>Properties</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${incident.name}">Incident name</td>
						<td th:text="${incident.description}">Incident description</td>
						<td th:text="${incident.state}">Incident state</td>
						<td th:text="${incident.location.toString()}">Incident location</td>
						<td th:text="${incident.tags}">Incident tags</td>
						<td th:text="${incident.property_value}">Incident properties</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
		<footer th:replace="fragments/footer"/></footer>
	</body>
</html>