<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />

<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 id="incidencias_titulo">My incidents</h2>
		<div class="table-responsive">
			<table class="table" th:fragment="tableIncidents" id="tableIncidents">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>State</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="incident : ${incidents}">
						<td th:text="${incident.title}">Incident</td>
						<td th:text="${incident.description}">Description</td>
						<td th:text="${incident.status}">State</td>
						<td><a class="awstable-button" th:href="${'/incident/details/' + incident.incidentId}">Details</a></td>
						<td><a class="awstable-button" th:href="${'/incident/edit/' + incident.incidentId}">Edit</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>
