<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 id="incidencias_titulo">My incidents</h2>
		<div class="table-responsive">
			<table class="table" th:fragment="tableIncidents" id="tableIncidents">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>State</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="inci : ${indicentsList}">
						<td th:text="${inci.title}">Incident</td>
						<td th:text="${inci.description}">Description</td>
                        <td th:text="${inci.status}">State</td>
                        <td><a th:href="${'/incident/details/' + inci.id}" >Details</a></td>
                        <td><a th:href="${'/incident/edit/' + inci.id}" >Edit</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>