<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />

<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Incident's details</h2>
		<div class="panel panel-default">
			<div class="panel-heading">Incident's name</div>
			<div class="panel-body" th:text="${incident.title}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Incident's description</div>
			<div class="panel-body" th:text="${incident.description}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">State</div>
			<div class="panel-body" th:text="${incident.status}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Location</div>
			<div class="panel-body" th:text="${incident.location}"></div>
			<div id="map" style="min-height: 500px" th:if="${incident.location} != ''"></div>
			<script th:inline="javascript">
				/*<![CDATA[*/
				function initMap() {
					var uluru = {
						lat: /*[[${lat}]]*/ ,
						lng: /*[[${lng}]]*/
					};
					var contentString = /*[[${incident.location}]]*/ ;
					var infowindow = new google.maps.InfoWindow({
						content: contentString
					});
					var map = new google.maps.Map(document.getElementById('map'), {
						zoom: 15,
						center: uluru,
						mapTypeId: 'hybrid'
					});
					var marker = new google.maps.Marker({
						position: uluru,
						map: map,
						title: /*[[${incident.location}]]*/
					});
					marker.addListener('click', function() {
						infowindow.open(map, marker);
					});
				}
				/*]]>*/
			</script>
			<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC-BZDN5YUHWapbhMk2xwValmvBx8meFs&callback=initMap">
			</script>
		</div>
		<div class="panel panel-default" th:if="${!#lists.isEmpty(incident.tags)}">
			<div class="panel-heading">Tags</div>
			<div th:each="tag : ${incident.tags}">
				<div class="panel-body" th:text="${tag}"></div>
			</div>
		</div>
		<div class="panel panel-default" th:if="${!#lists.isEmpty(incident.propertyVal)}">
			<div class="panel-heading">Property values</div>
			<div th:each="pv : ${incident.propertyVal}">
				<div class="panel-body" th:text="${pv}"></div>
			</div>
		</div>
		<div class="panel panel-default" th:if="${!#lists.isEmpty(incident.comments)}">
			<div class="panel-heading">Comments</div>
			<div th:each="comment : ${incident.comments}">
				<p class="panel-body" th:text="${comment.operatorId}"></p>
				<p class="panel-body" th:text="${comment.date.toString()}"></p>
				<p class="panel-body" th:text="${comment.comment}"></p>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer" /></footer>
</body>

</html>
